assembly/
project/boot/
gen-*
tags
.DS_Store
storage/engines/bdb/storage.bdb*
*.log
db/
testdb/
target/
*.iml
*.ipr
*.iws
*.swp
client/src/test/resources/test-classpath.properties
.classpath
.project
.settings/
classpath
setup.scala
classpath
*~
lib_managed/
\#*\#
.\#*
allJars
experiments/director/src/main/scala/querygen/pom.xml
experiments/director/src/main/scala/querygen/src/main/scala/tester.scala
experiments/director/src/main/scala/querygen/src/main/scala/workload.scala
experiments/director/src/main/scala/querygen/workload.scala
experiments/director/src/main/scala/querygen/workloadDescriptions.scala
experiments/director/src/main/scala/querygen/workloadElements.scala
scads.jar