assembly/
project/boot/
gen-*
tags
.DS_Store
storage/engines/bdb/storage.bdb*
*.log
db/
testdb/
target/
*.iml
*.ipr
*.iws
*.swp
client/src/test/resources/test-classpath.properties
.classpath
.project
.settings/
setup.scala
*~
classpath
*~
lib_managed/
\#*\#
.\#*
