/* @override http://localhost:8080/stylesheets/repl.css */

#history {
	background:black; 
	color:#ccc; 
	overflow-y:auto; 
	width:100%; 
	height:300px;
	font-family: "Courier New", Courier, mono;
}

#cmdline {
	width: 100%;
	font-family: "Courier New", Courier, mono;
}

#piqlcode {
	height: 300px;
	width: 70%
}

#status {
	width: 20%;
	float: right;
	clear: none;
	top: 0;
	position: fixed;
	right: 0;
}