<div id="container">
	  <b>Wordlist Name:</b>
	  <%=h @wordlist.name %>
	</p>
	
	<%= link_to "Play a game with this wordlist", {:controller=>:games, :action=>:new_game, :id => 1, :name=>@wordlist.name} %>
	<%= link_to 'Back', wordlists_path %>
</div>