<h2>About Comrades</h2>

<p>Comrades allows someone such as a hiring manager to easily keep track of their
job candidates. Here is a brief description of the features:</p>
<ul>
  <li>Dropdown on dashboard allows you to filter candidates by research area.</li>
  <li>Pending candidates list shows candidates who have not yet had an interview.</li>
  <li>Top-Rated candidates list shows candidates whose interviewer gave them a score of 5/5.</li>
  <li>Visiting a candidate's page allows you to schedule an interview with them.</li>
  <li>Visiting an interview summary allows you to send an offer to or reject a candidate on the spot.</li>
</ul>

<h3>Development Process</h3>

<p>Comrades was developed over the President's Day weekend (2/19 - 2/21)
by a single undergraduate.</p>

<p>The development process took approximately 18 hours in total.</p>

<h3>Step 1: Scheming</h3>
<p>Comrades began with thinking about the intended functionality, as well
as the database schema and queries.</p>
<p>This look about 1 hour.</p>

<h3>Step 2: Writing Queries</h3>
<p>The next step was actually writing the queries. The largest chunk of this
time was spent debugging the queries written, as well as testing to ensure
if the queries were returning the expected results.</p>
<p>This took approximately 5 hours.</p>

<h3>Step 3: Writing the Application</h3>
<p>The rest of the time was devoted to actually writing the app. From this point
on, it isn't that much different from developing a normal Rails application,
sans the time that would have been spent on database-related tasks.</p>
<p>This step began late on the first day and continued until early on the last
day.</p>