html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #ddd;
}

#wrapper {
  width: 800px;
  margin: 0 auto;
  background: white;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}

#footer {
  background: #fff;
  width: 800px;
  margin: 0 auto;
  border-top: 1px dotted #333;
}

#footer-content {
  line-height: 39px;
  padding: 0 20px;
}

h1, h2 {
  font-family: Nobile, Arial, sans-serif;
}

/* HEADER */
#header {
  margin: 0;
  padding: 0 10px;
  background: #333;
  color: #fff;
}
#header h1 {
  font-family: Orbitron, sans-serif;
  font-size: 2em;
  margin: 0;
  padding: 0 10px;
  text-transform: lowercase;
}

#header a {
  text-decoration: none;
  /* color: #05B8CC; */
  color: #fff;
}

#header h1 a:hover {
  color: #8ee5ee;
}

#header ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  float: right;
}

/* FLASH */

#flash{
  text-align: center;
}
.notice, .error {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
}
.notice {
  border-color: #090;
  background: #cfc;
  color: #090;
}
.error {
  border-color: #900;
  background: #fcc;
  color: #900;
}

/* Login Page */
#login-box {
  margin: 10px auto;
  width: 400px;
  padding: 1em;
  border-radius: 10px;
  -moz-border-radius: 10px;
  background: #eee;
  border: 1px solid #ccc;
}

/* BODY */

#body {
  padding: 10px 20px 50px;
}
#body h1 {
  margin: 0;
  clear: both;
}
h2 {
  border-top: 1px dotted #000;
  padding-top: .5em;
}
.user {
  font-weight: bold;
}
.byline {
  font-weight: bold;
  margin-bottom: .5em;
}
.thought-body {
}
.thought-body p:first-child {
  margin-top: 0;
}
#think {
  clear: both;
  border-bottom: 1px dotted #000;
  padding: 0 0 1em;
}
form {
  width: 700px;
  margin: 0 auto;
}
#think textarea {
  width: 630px;
  height: 40px;
  padding: 5px;
  margin-right: 5px;
  float: left;
}
#think input {
  width: 50px;
  height: 50px;
}

.structured-form {
  width: 450px;
  padding: 25px;
  margin: 20px auto;
}
.structured-form ul {
  list-style: none;
  padding: 0;
}
.structured-form ul.errors {
  list-style: disc;
  background: #fcc;
  border: 1px solid #900;
  padding: 10px 20px 10px 40px;
  margin-top: 0;
}
.structured-form label {
  display: inline-block;
  width: 150px;
}
.structured-form input {
  width: 250px;
}
.structured-form input[type='submit'] {
  margin-left: 153px;
  padding: 5px;
  width: 200px;
}
.hometown {
  font-size: 50%;
}
#subscribed span {
  border: 1px solid #090;
  background: #cfc;
  color: #090;
  display: inline;
  padding: 5px;
}
#subscribed {
  margin: 10px 0;
}

ul.thoughts {
  list-style: none;
  padding: 0;
}
ul.thoughts li {
  border: 1px solid #666;
  background: #ddd;
  margin: 5px;
  padding: 0 10px;
  display: block;
}
.thoughtless {
  margin-left: 15px;
}