<div class="context_wrapper">
	<div class="context_wrapper_title">
		Excerpt from <%= c.book_name.name %><br>
	</div>
	<div class="context_wrapper_text">
		...<%= c.before %><%= c.wordline %><%= c.after %>...
	</div>
</div>