<%= render :partial => "searchbox" %>
<div id="searchword">
	Your context query <b><%= @query %></b> returned <%= @contexts_size %> results. 
</div>
<div id="contexts">
    <% if @contexts_size > 0 %>
        <% for c in @contexts%>
            <%= render :partial => "context", :locals => {:c => c} %>
        <% end %>
    <% else %>
        We couldn't find any results for your query.
    <% end %>
</div>
