<div id="home_contents">
	<div id="logo"></div>
	
	<%= render :partial => "search/searchbox" %>
	<% puts "home index"%>
	<div id="play">
		Click <%= link_to "here", games_path %> to play a vocabulary game.
		<br>
		<% #for a in @wordlists 
        %>
			<%= #link_to a.name, {:controller=>:wordlists, :action=>:show, :name => a.name} 
            %>
		<% #end 
        %>
	</div>
</div>