html, body { 
	margin: auto;
	height: 100%;
	background: #ffffff url('/images/gradit_bg.png') repeat;
	color: #555a5f; 
	font-family: "Puritan", helvetica, arial, sans-serif;
  	font-size:   13px;
	
}

body{
    padding-top: 2%;
}

a { color: #ccc; }
a:hover { color: #ec9a26; } 

img { border: none; }

/*Global*/

.clear{
    clear:both;
}

a.button{
    font-family: "Cuprum", helvetica, arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    opacity: .7;
}

a.button:hover{
    opacity: 1;
}

/*Home*/
#home-contents{
    padding-top: 5%;
}

#logo-home{
	margin: auto;
	width: 300px;
	height: 146px;
	background: url('/images/gradit_logo.png') no-repeat;
}

a#play-game-button{
    margin: auto;
    display: block;
    width: 250px;
    text-align: center;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#E3E3E3));
    padding: 7px;
    padding-bottom: 3px;
    color: #aaa;
    border-radius: 5px;
}

a#play-game-button:hover{
    color: #ec9a26; 
}

div#info{
    width: 80%;
    margin: 5em auto;
}

div.section{
    float:left;
    width: 33.3%;
    color: #ccc;
}

div.section span{
    display: block;
    padding: 1em;
}
div.section h2{
    color: #ec9a26;
    text-align: center;
    font-family: "Cuprum", helvetica, arial;
    text-transform: uppercase;
    font-weight: normal;
}



/*Game pages*/

#header{
    margin: auto;
    width: 80%;
    position: relative;
}

#header #logo{
    float: left;
    display: block;
    width: 200px;
    height: 97px;
    background: url("/images/gradit_logo_sm.png");
}

#header #user-bar{
    float: right;
    color: white;
    height: 100%;
}

#content{
    margin: auto;
    width: 80%;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#F7F7F7));
    background: url("/images/gradit_bg_white.png") repeat;
    padding: 7px;
    padding-bottom: 3px;
    border-radius: 5px;
}

#content a{
    color: #555a5f;
}

#content a:hover { color: #ec9a26; } 

.game_entry_mc{
	font-size: 20px;
}


#content{
	padding: 30px;
}

/*Game Entry*/
#ans_result{
    margin: auto;
    width: 50%;
	text-align: center;
	font-size: 1.2em;
}

#correct{
    background: #d4f7b2;
    border: 1px #5fbf00 solid;
    color: #5fbf00; 
    padding: 5px;
    border-radius: 3px;
}

#incorrect{
    background: #fccccc;
    border: 1px #ff5656 solid;
    color: #ff5656;
    padding: 5px;
    border-radius: 3px;
}

#player_panel{
	padding: 5px;
	margin: 5px;
}

.game_entry{
	padding: 10px;
	margin: 20px;
}
.game_entry_question{
	font-size: 20px;
	padding: 10px;
}

.mult_choice{
	font-size: 18px;
}
