html, body { 
	margin: auto;
	height: 100%;
	background: #ffffff url('/images/bg_fade.png');
	background-repeat: repeat-x;
	background-position: top;
	color: #333; 
	
	font-family: "Trebuchet MS", arial, helvetica, sans-serif;
  	font-size:   13px;
	
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #FF7F24; } 

img { border: none; }

/*Global*/

.game_entry_mc{
	font-size: 20px;
}

#banner_top{
	background: red url('/images/gradit_header.png'); 
	background-repeat: repeat-x;
	width: 100%;
	height: 125px;
}

#header_wrapper{
	position: relative;
	top: 25px;
	width: 950px;
	height: 100px;
	margin: auto;
}

#logo{
	float: left;
	width: 114px;
	height: 46px;
	/*background: url('/images/gradit_inside_logo.png') no-repeat;*/
}

#user_bar{
	color: #fff;
	float: right;
}

#wrapper{
	position: relative;
	margin:auto;
	top: -35px;
	width: 950px;
}
#trans_back{
	background: #fff;
	opacity: .6;
	width: 950px;
	min-height: 300px;
}

#content_holder{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 930px;
	min-height: 300px;
	background: #fff;
}

#content{
	padding: 30px;
}

/*Game Entry*/
#ans_result{
	text-align: center;
	font-size: 20px;
}

#player_panel{
	padding: 5px;
	margin: 5px;
}

.game_entry{
	background: #ffffcc;
	padding: 10px;
	margin: 20px;
}
.game_entry_question{
	font-size: 20px;
	padding: 10px;
}

.mult_choice{
	font-size: 18px;
}

/*Layout - Context */

.context_wrapper_title{
	font-weight: bold;
}

.context_wrapper{
	padding: 5px;
	margin: 10px;
	background: #ffffcc;
	vertical-align: top;
}

.search_field {
	height:26px;
	margin-right: 0px;
	padding: 0px;
	font-size: 18px;
}
.search_button {
	position: relative;
	display: inline;
	top: -23px;
	padding: 0px;
    border: none;
    width: 61px;
    height: 63px;
    background: url('/images/search_button.png') no-repeat top left;
}

/*Error Styling*/
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

