<%- if thoughts.present? -%>
  <ul class="thoughts">
  <% thoughts.each do |thought| -%>
    <li>
      <p class="byline"><%= link_to thought.owner, user_path(thought.owner) %> (<%= thought.posted_at %>)</p>
      <div class="thought-body">
        <%= simple_format(thought.text) %>
      </div>
    </li>
  <% end -%>
  </ul>
<%- else -%>
  <p class="thoughtless">No thoughts.</p>
<%- end -%>